@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1000a4;
  background: url('https://burbanostudio-assets.s3.us-east-2.amazonaws.com/projects/tenistide/bg-xl.jpg');
  min-height: 100vh;
}

label, span {
  display: block;
}

.icon {
  width: 1.7rem;
}

tr {
  transition: all .2s ease-in;
}

tr:hover {
  cursor: pointer;
  background: #ffff27;
  color: black;
}

td {
text-align: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: #1000a4;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1000a4;
    border-radius: 10px;
    border: none;
  }